<%= form_for(@baby_name) do |f| %>
  <% if @baby_name.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@baby_name.errors.count, "error") %> prohibited this baby_name from being saved:</h2>

      <ul>
      <% @baby_name.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
