<div class="container home">
  <div class="row">
    <h3>tastyham presents...<h3>
  </div>
   <div class="row">
    <h1>ActiveRecord Baby</h1>
  </div>
  <div class="row">
    <%= image_tag("mvc.gif") %>
  </div>
   <div class="row">
    <h2>where baby Rails devs hone their db-Fu</h2>
  </div>
</div>
