@import 'bootstrap-sprockets';
@import 'bootstrap';
//You need to now manually import every other scss file.

$code-green: #33FF33;
$code-general: white;
$code-ar-keyword: #00F9A7;
$code-sql: #E6DB74;
$code-table: #FFDD00;
$code-relation: #FF628C;
$code-attribute: #AE81FF;
$code-model: #66D9EF;
$code-value: #F46AEE;

@keyframes glow1 {
  to {
    text-shadow: 0 0 10px yellow,
      3px 3px 0 yellow,
      -1px -1px 0 yellow,
      1px -1px 0 yellow,
      -1px  1px 0 yellow,
      1px  1px 0 yellow;
    -webkit-box-shadow:
      3px 3px 0 $code-green,
      -3px -3px 0 $code-green,
      3px -3px 0 $code-green,
      -3px  3px 0 $code-green,
      3px  3px 0 $code-green;
    -moz-box-shadow:
      3px 3px 0 $code-green,
      -3px -3px 0 $code-green,
      3px -3px 0 $code-green,
      -3px  3px 0 $code-green,
      3px  3px 0 $code-green;
    box-shadow:
      3px 3px 0 $code-green,
      -3px -3px 0 $code-green,
      3px -3px 0 $code-green,
      -3px  3px 0 $code-green,
      3px  3px 0 $code-green;
  }
}

@keyframes glow2 {
  to {
    text-shadow: 0 0 10px yellow,
      3px 3px 0 yellow,
      -1px -1px 0 yellow,
      1px -1px 0 yellow,
      -1px  1px 0 yellow,
      1px  1px 0 yellow;
  }
}

@keyframes glow3 {
  to {
    text-shadow: 0 0 10px red,
      3px 3px 0 red,
      -1px -1px 0 red,
      1px -1px 0 red,
      -1px  1px 0 red,
      1px  1px 0 red;
  }
}

@keyframes glow4 {
  to {
    text-shadow: 0 0 10px green,
      3px 3px 0 green,
      -1px -1px 0 green,
      1px -1px 0 green,
      -1px  1px 0 green,
      1px  1px 0 green;
  }
}

@keyframes glow5 {
  to {
    text-shadow: 0 0 10px $code-value,
      3px 3px 0 $code-value,
      -1px -1px 0 $code-value,
      1px -1px 0 $code-value,
      -1px  1px 0 $code-value,
      1px  1px 0 $code-value;
  }
}

@keyframes glow6 {
  to {
    -webkit-box-shadow:
      -6px -6px 0 yellow,
      6px -6px 0 yellow,
      -6px  6px 0 yellow,
      6px  6px 0 yellow;
    -moz-box-shadow:
      -6px -6px 0 yellow,
      6px -6px 0 yellow,
      -6px  6px 0 yellow,
      6px  6px 0 yellow;
    box-shadow:
      -6px -6px 0 yellow,
      6px -6px 0 yellow,
      -6px  6px 0 yellow,
      6px  6px 0 yellow;
  }
}

@-webkit-keyframes scale {
  0% { -webkit-transform: scale(1); }
  50% { -webkit-transform: scale(0.9); }
  100% { -webkit-transform: scale(1); }
}

@-webkit-keyframes stretch {
  0% { -webkit-transform: scale(1); }
  25% { -webkit-transform: scale(0.5, 2); }
  50% { -webkit-transform: scale(2, 0.5); }
  75% { -webkit-transform: scale(2, 0.5); }
  100% { -webkit-transform: scale(1); }
}

@-webkit-keyframes shakeX {
  0% { -webkit-transform: translateX(0); }
  33% { -webkit-transform: translateX(3px); }
  67% { -webkit-transform: translateX(0); }
  100% { -webkit-transform: translateX(-3px); }
}

@-webkit-keyframes shakeY {
  0% { -webkit-transform: translateY(0); }
  33% { -webkit-transform: translateY(-3px); }
  67% { -webkit-transform: translateY(0); }
  100% { -webkit-transform: translateY(3px); }
}

@mixin vertical-align {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;

  align-items: center;
}

#page-cover {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1000;
  &.cursor-progress {
    z-index: 9001;
    cursor: progress !important;
  }
}

canvas {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  background: black;
}

select {
  option {
    &.open {
      &.model-option {
        background: black!important;
        border-color: $code-green!important;
        color: $code-green!important;
        &:hover {
          text-shadow:
            0 0 1.5em black,
            3px 3px 0 black,
            -1px -1px 0 black,
            1px -1px 0 black,
            -1px  1px 0 black,
            1px  1px 0 black;
          background: lighten(black, 30%)!important;
        }
      }
    }
  }
}


::-webkit-input-placeholder { color: $code-green!important; opacity: 0.5; }
:-moz-placeholder { color: $code-green!important; opacity: 0.5; }
::-moz-placeholder { color: $code-green!important; opacity: 0.5; }
:-ms-input-placeholder { color: $code-green!important; opacity: 0.5; }

.btn {
  background: black!important;
  border-color: $code-green!important;
  color: $code-green!important;
  &:hover {
    text-shadow:
      0 0 1.5em black,
      3px 3px 0 black,
      -1px -1px 0 black,
      1px -1px 0 black,
      -1px  1px 0 black,
      1px  1px 0 black;
    background: lighten(black, 30%)!important;
  }
}

.home-container {
  text-align: center;
  position: absolute;
  z-index: 0;
  top: 0;
  left: 50%;
  height: 100%;
  margin-left: -215px;
  background: black;
  padding: 0 10px;

  .home-wrap {
    font-family: Menlo, Consolas, 'Lucida Console', monospace;
    text-align: center;
      margin: 1em;

    img{
      height: 400px;
    }
    .presents-home {
      font-size: 0.8em;
    }
    .title-home {
      font-family: monaco, Consolas, 'Lucida Console', monospace;
      font-size: 2.5em;
      margin-bottom: 0.5em;
    }
    .btn-primary {
      font-size: 0.8em;
      margin: 0.5em;
      min-width: 100px;
      &.shine {
        animation: glow1 1s infinite alternate ease-in-out;
      }
    }
    .subtitle-home {
      background-color: black;
      padding-top: 58px;
    }
  }
}




section {
  padding: 15px;
  padding-left: 10px;
  table {
    table-layout: fixed;
    word-wrap: break-word;
    th {
      font-size: 1.2em;
      text-align: center;
      color: $code-attribute;
      border-bottom: 3px solid $code-green!important;
    }
    .highlight {
      text-shadow:
        0 0 1.5em #66FFFF,
        3px 3px 0 #66FFFF,
        -1px -1px 0 #66FFFF,
        1px -1px 0 #66FFFF,
        -1px  1px 0 #66FFFF,
        1px  1px 0 #66FFFF;
      td {
        font-size: 0.8em;
        &.td{
          color: black!important;
          border-top: 1px solid $code-green!important;
        }
      }
    }
    td {
      font-size: 0.8em;
      color: $code-value;
      &.td{
        text-align: left;
        border-top: 1px solid $code-green!important;
      }
    }
  }
}



.container-inspect {
  box-sizing: border-box;
  width: 100%;
  margin-top: 40px;
  th {
    cursor: pointer;
  }
  .inspector-show {
    position: fixed;
    top: 48px;
    right: 0px;
    font-size: 1.2em;
    width: 25px;
    height: 100%;
    &.true {
      animation: glow2 1s infinite alternate ease-in-out;
    }
  }
  .inspector-hide {
    position: fixed;
    top: 51px;
    margin: 0;
    right: 0;
    padding-right: 15px;
    height: 100%;
    text-align: right;
    img {
      display: block;
      float: right;
      clear: both;
    }
    .search-bar {
      display: block;
      float: right;
      clear: both;
      text-align: right;
      .search-button {
        display: block;
        float: right;
        clear: both;
      }
      .search {
        display: block;
        float: right;
        clear: both;
        width: 350px;
        text-align: right;
        font-family: monaco, Consolas, 'Lucida Console', monospace;
        margin-top: 0.25em;
        font-size: 0.8em;
        input {
          box-sizing: border-box;
          width: 150px;
        }
      }
      .search-submit {
        display: block;
        float: right;
        clear: both;
        text-align: right;
        .label-wrap {
          display: inline-block;
          label {
            display: block;
          }
        }
        .submit-wrap {
          display: inline-block;
          .submit {
            width: 130px;
            margin-bottom: 24px;
            height: 37px;
          }
          .box-wrap {
            display: inline-block;
            width: 12px;
            margin-right: 7px;
            input {
              margin-top: 0;
              margin-bottom: 7px;
            }
          }
        }
      }
    }
  }
}


.container-interact {
  margin-top: 40px;
}

body {
  font-family: Menlo, Consolas, 'Lucida Console', monospace;
  background-color: black;
  color: $code-green;
}


input {
  background-color: black;
  border-color: $code-green;
  &:focus {
    text-shadow:
    0 0 1.5em black,
    3px 3px 0 black,
    -1px -1px 0 black,
    1px -1px 0 black,
    -1px  1px 0 black,
    1px  1px 0 black;
    background: lighten(black, 30%)!important;
  }
}

.vertical-align {
  @include vertical-align;
}

.no-pad-left {
  padding-left: 0;
}

.no-pad-right {
  padding-right: 0;
}

.pull-right{
  margin-right: 0;
}

.lighter {
  background-color: lighten(black, 10%);
}

.darker {
  background-color: lighten(black, 20%);
}

[data-id='ASC'] {
  color: black;
  text-shadow:
    0 0 1.5em green,
    3px 3px 0 green,
    -1px -1px 0 green,
    1px -1px 0 green,
    -1px  1px 0 green,
    1px  1px 0 green;

  }

[data-id='DESC'] {
  color: black;
  text-shadow:
    0 0 1.5em red,
    3px 3px 0 red,
    -1px -1px 0 red,
    1px -1px 0 red,
    -1px  1px 0 red,
    1px  1px 0 red;
}

.center {
  text-align: center;
}

.show-hide {
  float: right;
  clear: both;
  display: block;
  margin: 5px 0;
  font-size: 0.8em;
  box-sizing: border-box;
  width: 150px;
  &.smaller {
    font-size: 0.7em;
  }
}

.model {
  font-family: monaco, Consolas, 'Lucida Console', monospace;
  text-align: left;
  padding: 0 0 0 10px;
  .pad {
    opacity: 0;
  }
}

.formatted-time {
  color: black!important;
  text-shadow:
    0 0 1.5em yellow,
    3px 3px 0 yellow,
    -1px -1px 0 yellow,
    1px -1px 0 yellow,
    -1px  1px 0 yellow,
    1px  1px 0 yellow;
}

.migration {
  font-family: monaco, Consolas, 'Lucida Console', monospace;
  text-align: left;
  padding: 0 0 0 10px;
  .pad {
    opacity: 0;
  }
}

.object {
  display: block;
  float: right;
  clear: both;
  font-size: 0.8em;
  font-family: monaco, Consolas, 'Lucida Console', monospace;
  text-align: left;
  padding: 0 0 0 10px;
  .pad {
    opacity: 0;
  }
  .key {
    color: $code-attribute;
  }
  .value {
    color: $code-value;
  }
}

.lighten-true {
  opacity: 0.5;
}

.show-false {
  display: none;
}

.loading-false {
  display: none;
}

.loading-true {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 1000;
  opacity: 0.8;
  &.db-table {
    margin-top: -175px;
    margin-left: -225px;
  }
  &.interact {
    top: 50%;
    margin-top: -305px;
    margin-left: -225px;
  }
  &.db-editor {
    position: absolute;
    height: 210px;
    width: 270px;
    margin-top: -105px;
    margin-left: -135px;
  }
}

.ace_editor{
  border: none;
  width: 100%;
  height: 250px;
  margin-bottom: 0;
::-webkit-scrollbar {
    width: 14px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
    background: rgba(100, 100, 100, 0.8);
}

::-webkit-scrollbar-corner,
::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(100, 100, 100, 0.4);
}
}

.sticky-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 10px;
  div {
    position: relative;
    display: inline-block;
    margin-right: 10px;
  }
  button {
    margin-right: 10px;
    &.instructions-highlight-true {
      animation: glow1 1s infinite alternate ease-in-out;
    }
  }
  a {
    margin-right: 10px;
  }
}

.modal {
  &.fade {
    position: fixed;
    padding: 25px!important;
    .modal-dialog {
      width: 100%;
      .modal-content {
        margin-top: 30px;
        font-size: 1.4em;
        padding: 1em;
        background: black;
        &.image {
          margin-right: 0;
          margin-left: 0;
          padding: 0;
          text-align: center;
          background: none;
          width: 100%;
          section {
            &.leader-section {
              table {
                table-layout: auto!important;
                &.leader-root-table {
                  width: 100%;
                  th {
                    font-size: 1.5em;
                    padding: 0 0.5em;
                  }
                  tbody {
                    tr {
                      td {
                        font-size: 1.2em;
                        &.stats {
                          text-align: center;
                          &.false {
                            display: none;
                          }
                          .stats-wrap {
                            -webkit-box-shadow:
                            -4px -4px 6px yellow,
                            4px -4px 6px yellow,
                            -4px  4px 6px yellow,
                            4px  4px 6px yellow;
                            -moz-box-shadow:
                            -4px -4px 6px yellow,
                            4px -4px 6px yellow,
                            -4px  4px 6px yellow,
                            4px  4px 6px yellow;
                            box-shadow:
                            -4px -4px 6px yellow,
                            4px -4px 6px yellow,
                            -4px  4px 6px yellow,
                            4px  4px 6px yellow;
                            display: inline-block;
                            test-align: center;
                            table {
                              table-layout: auto!important;
                              background: black;
                              width: 100%;
                              th {
                                font-size: 20px;
                                padding: 1em;
                              }
                              td {
                                font-size: 20px;
                              }
                            }
                          }
                        }
                      }
                      .sol {
                        text-align: center;
                        div {
                          -webkit-box-shadow:
                          -4px -4px 6px yellow,
                          4px -4px 6px yellow,
                          -4px  4px 6px yellow,
                          4px  4px 6px yellow;
                          -moz-box-shadow:
                          -4px -4px 6px yellow,
                          4px -4px 6px yellow,
                          -4px  4px 6px yellow,
                          4px  4px 6px yellow;
                          box-shadow:
                          -4px -4px 6px yellow,
                          4px -4px 6px yellow,
                          -4px  4px 6px yellow,
                          4px  4px 6px yellow;
                          background: black;
                          padding: 1em;
                          display: inline-block;
                          text-align: left;
                            .pad {
                              opacity: 0;
                            }
                        }
                        &.false {
                          display: none;
                        }
                      }
                      td {
                        padding: 1em;
                        &.center {
                          text-align: center;
                          img {
                            cursor: pointer;
                            height: 150px;
                            width: 150px;
                          }
                          .spoiler-sol {
                            &:hover {
                              -webkit-box-shadow:
                               -4px -4px 6px white,
                               4px -4px 6px white,
                               -4px  4px 6px white,
                               4px  4px 6px white;
                              -moz-box-shadow:
                               -4px -4px 6px white,
                               4px -4px 6px white,
                               -4px  4px 6px white,
                               4px  4px 6px white;
                              box-shadow:
                               -4px -4px 6px white,
                               4px -4px 6px white,
                               -4px  4px 6px white,
                               4px  4px 6px white;
                            }
                            &.false {
                              display: none;
                            }
                          }
                          .sol-char-count {
                            width: 150px;
                            height: 150px;
                            padding: 22px;
                            font-size: 16px;
                            box-sizing: border-box;
                            &.false {
                              display: none;
                            }
                          }
                          .spoiler-stats {
                            &:hover {
                              -webkit-box-shadow:
                               -4px -4px 6px white,
                               4px -4px 6px white,
                               -4px  4px 6px white,
                               4px  4px 6px white;
                              -moz-box-shadow:
                               -4px -4px 6px white,
                               4px -4px 6px white,
                               -4px  4px 6px white,
                               4px  4px 6px white;
                              box-shadow:
                               -4px -4px 6px white,
                               4px -4px 6px white,
                               -4px  4px 6px white,
                               4px  4px 6px white;
                            }
                            &.false {
                              display: none;
                            }
                          }
                          .num-queries {
                            width: 150px;
                            height: 150px;
                            padding: 22px;
                            font-size: 16px;
                            box-sizing: border-box;
                            &.false {
                              display: none;
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
          img {
            width: 100%;
          }
        }
        &.form {
          text-align: center;
          form {
            display: inline-block;
            text-align: right;
            .form-query-wrap {
              margin: 0.25em;
              display: block;
              input {
                color: $code-value;
              }
            }
            .actions {
              margin: 0.25em;
              input {
                width: 156px;
              }
              &.sign-up {
                padding-right: 23px;
              }
              &.sign-in {
                padding-right: 94px;
              }
            }
          }
        }
      }
    }
  }
}

.sticky-footer {
  position: fixed;
  bottom: -5px;
  left: 10px;
  right: 10px;
  &.sticky-footer-interact {
    background-color: black;
    padding-top: 10px;
  }
  .paginate {
    display: inline-block;
    background: none;
    padding: 0;
    padding-bottom: 10px;
    .next-prev {
      margin-right: 10px;
    }
  }
  .limit {
    display: inline-block;
    margin-right: 10px;
  }
  .query-wrap {
    display: block;
    padding: 10px 0;
    padding-right: 290px;
    margin-bottom: 5px;
    background: black;
    .shine {
      animation: glow2 0.5s alternate cubic-bezier(0, 1, 0, 1);
      animation-iteration-count: 2;
    }
  }
  .results-wrap{
    position: relative;
    display: inline-block;
    background: black;
    height: 250px;
    width: 50%;
    margin: 0;
    .newman-true {
        position: absolute;
        top: 0;
        right: 40px;
        z-index: 1000;
        &.opacity-1{
          opacity: 0.2;
        }
        &.opacity-2{
          opacity: 0.3;
        }
        &.opacity-3{
          opacity: 0.4;
        }
        &.opacity-4{
          opacity: 0.5;
        }
        &.opacity-5{
          opacity: 1;
        }
      }
      .newman-false {
        display: none;
      }
    .display-results {
      background: black;
      display: block;
      float: left;
      clear: both;
      text-align: left;
      font-size: 1.4em;
      padding: 10px;
      padding-top: 0;
      div {
        display: block;
        .type{
          display: inline-block;
          color: $code-attribute;
        }
        .value{
          display: inline-block;
          padding-left: 1em;
          color: $code-value;
          &.correct {
            color: black;
            &.show-correct-true {
              &.is-correct-false {
                animation: glow3 0.5s ease-in forwards,
                           scale 0.5s infinite;
              }
              &.is-correct-true {
                -webkit-animation: glow4 2s infinite alternate-reverse ease-in-out,
                                  stretch 0.5s ease-in forwards;
              }
            }
            &.show-correct-false {
              animation: glow5 1.5s infinite alternate-reverse cubic-bezier(1, 0, 0, 1);
            }
          }
        }
      }
      .btn {
        position: absolute;
        top: 10px;
        right: 10px;
        &.shine {
          animation: glow1 1s infinite alternate ease-in-out;
        }
        button {
          background-color: transparent!important;
          text-shadow:
            0 0 1.5em black,
            3px 3px 0 black,
            -1px -1px 0 black,
            1px -1px 0 black,
            -1px  1px 0 black,
            1px  1px 0 black;
          padding: 0;
          border: 0;
          &:hover {
            color: black;
            text-shadow: 0 0 10px yellow,
              3px 3px 0 yellow,
              -1px -1px 0 yellow,
              1px -1px 0 yellow,
              -1px  1px 0 yellow,
              1px  1px 0 yellow;
            &.sign-in {
              animation: shakeX 0.5s infinite;
            }
            &.sign-up {
              animation: shakeY 0.5s infinite;
            }
          }
        }
      }
    }
  }
}

.editor {
  position: relative;
  display: inline-block!important;
  width: 50%;
}

#editor-content {
  display: none;
}

.code {
  &.code-general{
    color: $code-general;
  }
  &.code-ar-keyword {
    color: $code-ar-keyword;
  }
  &.code-sql {
    color: $code-sql;
  }
  &.code-table {
    color: $code-table
  }
  &.code-relation {
    color: $code-relation;
  }
  &.code-attribute {
    color: $code-attribute;
  }
  &.code-model {
    color: $code-model;
  }
  &.code-value {
    color: $code-value;
  }
}

.env-index {
  padding: 10px;
  text-align: center;
  div {
    &.envs-wrap {
      display: inline-block;
      &.false {
        display: none;
      }
      .env-wrap {
        margin: 90px;
        .env-title {
          font-size: 1.5em;
          &.true {
            font-size: 2em;
            color: black;
            text-shadow:
              0 0 1.5em yellow,
              3px 3px 0 yellow,
              -1px -1px 0 yellow,
              1px -1px 0 yellow,
              -1px  1px 0 yellow,
              1px  1px 0 yellow;
          }
        }
        .env-details {
          &.false {
            display: none;
          }
        }
        button {
          margin: 5px;
          min-width: 150px;
          &.env-descrip {
            &.glow1 {
              animation: glow1 1s infinite alternate ease-in-out;
            }
          }
        }
        .problems-leaders-wrap {
          &.false {
            display: none;
          }
          text-align: left;
          .problems-wrap {
            display: inline-block;
            div {
              a {
                margin: 5px;
              }
            }
          }
          .leaders-wrap {
            display: inline-block;
            float: right;
            div {
              button {
                margin: 5px;
              }
            }
          }
        }
        .modal-content {
          text-align: left;
        }
      }
    }
  }
}












