@import 'bootstrap-sprockets';
@import 'bootstrap';
//You need to now manually import every other scss file.
@mixin vertical-align {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;

  align-items: center;
}

.home {
  text-align: center;
  h1{
    font-family: monaco, Consolas, 'Lucida Console', monospace;
  }
  h3{
    font-size: 1em;
  }
  h2{
    font-size: 1em;
  }
}

table {
  table-layout: fixed;
  word-wrap: break-word;
}

.container-inspect {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 36px;
  .paginate {
    div {
      display: inline-block;
      margin-right: 10px;
    }
  }
  .inspector-show {
    position: absolute;
    top: 12px;
    right: 0px;
    font-size: 1.2em;
    width: 25px;
    height: 100%;
  }
  .inspector-hide {
    position: absolute;
    top: 10px;
    margin: 0;
    right: 0;
    padding-right: 15px;
    height: 100%;
    text-align: right;
    img {
      display: block;
      float: right;
      clear: both;
    }
    .search-bar {
      display: block;
      float: right;
      clear: both;
      text-align: right;
      .search-button {
        display: block;
        float: right;
        clear: both;
      }
      .search {
        display: block;
        float: right;
        clear: both;
        width: 350px;
        text-align: right;
        font-family: monaco, Consolas, 'Lucida Console', monospace;
        margin-top: 0.25em;
        font-size: 0.8em;
        input {
          box-sizing: border-box;
          width: 150px;
        }
      }
      .search-submit {
        display: block;
        float: right;
        clear: both;
        text-align: right;
        .label-wrap {
          display: inline-block;
          label {
            display: block;
          }
        }
        .submit-wrap {
          display: inline-block;
          .submit {
            width: 130px;
            margin-bottom: 20px;
            height: 36px;
          }
          .box-wrap {
            display: inline-block;
            width: 12px;
            margin-right: 7px;
            input {
              margin-top: 0;
              margin-bottom: 7px;
            }
          }
        }
      }
    }
  }
}


.container-interact {
  margin-bottom: 236px;
}

body {
  font-family: Menlo, Consolas, 'Lucida Console', monospace;
  background-color: black;
  color: #33FF33;
}

th {
  text-align: center;
  font-size: 1.2em;
}

tr {
  font-size: 0.8em;
}

section {
  padding: 15px;
}

input {
  background-color: black;
  border-color: #33FF33;
}

.vertical-align {
  @include vertical-align;
}

.no-pad-left {
  padding-left: 0;
}

.no-pad-right {
  padding-right: 0;
}

.pull-right{
  margin-right: 0;
}

.next-prev {
  margin: 0.5em;
}

.lighter {
  background-color: lighten(black, 10%);
}

.darker {
  background-color: lighten(black, 20%);
}

[data-id='ASC'] {
  background-color: green;
}

[data-id='DESC'] {
  background-color: red;
}

.center {
  text-align: center;
}

.show-hide {
  display: block;
  margin: 0.5em 0;
  font-size: 0.8em;
  width: 150px;
  float: right;
  clear: both;
}

.model {
  display: block;
  float: right;
  clear: both;
  font-family: monaco, Consolas, 'Lucida Console', monospace;
  text-align: left;
  padding: 0 0 0 10px;
  .pad {
    opacity: 0;
  }
}

.formatted-time {
  text-shadow: 0 0 1.5em yellow;
}

.migration {
  display: block;
  float: right;
  clear: both;
  font-family: monaco, Consolas, 'Lucida Console', monospace;
  text-align: left;
  padding: 0 0 0 10px;
  .pad {
    opacity: 0;
  }
}

.object {
  display: block;
  float: right;
  clear: both;
  font-size: 0.8em;
  font-family: monaco, Consolas, 'Lucida Console', monospace;
  text-align: left;
  padding: 0 0 0 10px;
  .pad {
    opacity: 0;
  }
  .key {
    color: #FF66FF;
  }
  .value {
    color: #66FFFF;
  }
}

.highlight {
  text-shadow: 0 0 1.5em #66FFFF;
}

.lighten-true {
  opacity: 0.5;
}

.show-false {
  display: none;
}

.loading-false {
  display: none;
}

.loading-true {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1000;
  opacity: 0.8;
  &.db-table {
    margin-top: -175px;
    margin-left: -225px;
  }
  &.interact {
    position: fixed;
    top: 50%;
    margin-top: -305px;
    margin-left: -225px;
  }
  &.db-editor {
    height: 210px;
    width: 270px;
    margin-top: -105px;
    margin-left: -135px;
  }
}

.results-wrap {
  position: relative;
  .newman-true {
    position: absolute;
    top: 0px;
    right: 0;
    z-index: 1000;
    opacity: 0.2;
  }

  .newman-false {
    display: none;
  }
}


.ace_editor{
  width: 100%!important;
  height: 250px!important;
}

.sticky-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: black;
}

.editor {
  position: relative;
}

#editor-content {
  display: none;
}
