@import 'bootstrap-sprockets';
@import 'bootstrap';
//You need to now manually import every other scss file.
@mixin vertical-align {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;

  align-items: center;
}

.home {
  text-align: center;
  h1{
    font-family: monaco, Consolas, 'Lucida Console', monospace;
  }
  h3{
    font-size: 1em;
  }
  h2{
    font-size: 1em;
  }
}

.container-inspect {
  width: 100%;
  padding-right: 10%;
  .table {
    position: relative;
  }
}

.container-interact {
  section {
    position: relative;
  }
}

body {
  font-family: Menlo, Consolas, 'Lucida Console', monospace;
  background-color: black;
  color: #33FF33;
}

th {
  text-align: center;
  font-size: 1.2em;
}

tr {
  font-size: 0.8em;
}

section {
  padding: 15px;
}

input {
  background-color: black;
  border-color: #33FF33;
}

.inspector-show {
  position: absolute;
  top: 0;
  right: 10%;
  margin-top: 0.7em;
  margin-right: -50px;
  font-size: 1.2em;
  width: 25px;
}

.inspector-hide {
  position: absolute;
  top: 0.5em;
  right: 0;
  margin-right: -65px;
  width: 130px;
  .relative {
    right: 25px;
    position: relative;
  }
}

.table {
  font-family: monaco, Consolas, 'Lucida Console', monospace;
  &.inspect{
    position: relative;
    margin-bottom: 0;
  }
  &.interact{

  }
}

.table-footer {
  @include vertical-align;
}



.vertical-align {
  @include vertical-align;
}

.search-bar {
  position: absolute;
  right: 0;
  .search {
    width: 350px;
    font-family: monaco, Consolas, 'Lucida Console', monospace;
    margin-top: 0.25em;
    font-size: 0.8em;
    input {
      float: left;
      width: 150px;
    }
  }
  .search-submit {
    font-size: 0.8em;
    margin-top: 3px;
    .submit-wrap {
      position: absolute;
      bottom: 1px;
      left: -2px;
      padding-left: 0px;
      .box-wrap {
        display: inline-block;
        width: 12px;
        float: left;
        margin-right: 6px;
        input {
          margin-top: 0;
          margin-bottom: 6px;
        }
      }
      .submit {
        display: inline-block;
        font-size: 1.2em;
        margin-top: 1px;
        float: left;
        width: 130px;
      }
    }
  }
}

.limit {
  float: right;
  margin-right: 1em;
}

.no-pad-left {
  padding-left: 0;
}

.no-pad-right {
  padding-right: 0;
}

.pull-right{
  margin-right: 0;
}

.next-prev {
  margin: 0.5em;
}

.lighter {
  background-color: lighten(black, 10%);
}

.darker {
  background-color: lighten(black, 20%);
}

[data-id='ASC'] {
  background-color: green;
}

[data-id='DESC'] {
  background-color: red;
}

.center {
  text-align: center;
}

.show-hide {
  margin: 0.5em 0;
  font-size: 0.8em;
  width: 130px;
}

.select-wrap {
  padding: 0 15px;
}

.model {
  font-size: 0.8em;
  font-family: monaco, Consolas, 'Lucida Console', monospace;
  text-align: left;
  padding: 0 0 0 10px;
  .pad {
    opacity: 0;
  }
}

.formatted-time {
  text-shadow: 0 0 1.5em yellow;
}

.migration {
  font-size: 0.7em;
  font-family: monaco, Consolas, 'Lucida Console', monospace;
  text-align: left;
  padding: 0 0 0 10px;
  .pad {
    opacity: 0;
  }
}

.object {
  font-size: 0.8em;
  font-family: monaco, Consolas, 'Lucida Console', monospace;
  text-align: left;
  padding: 0 0 0 10px;
  .pad {
    opacity: 0;
  }
  .key {
    color: #FF66FF;
  }
  .value {
    color: #66FFFF;
  }
}

.highlight {
  text-shadow: 0 0 1.5em #66FFFF;
}

.lighten-true {
  opacity: 0.5;
}

.show-false {
  display: none;
}

.loading-false {
  display: none;
}

.loading-true {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1000;
  opacity: 0.8;
  &.db-table {
    margin-top: -175px;
    margin-left: -225px;
  }
  &.db-editor {
    height: 210px;
    width: 270px;
    margin-top: -105px;
    margin-left: -135px;
  }
}

.sticky-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

#editor {
  width:100%;
  height: 200px;
}

#editor-form {
  // position: relative;
  // width: 500px;
}

#editor-content {
  display: none;
}
